<footer class="py-6 px-12 mt-12 w-full fixed bottom-0 bg-neutral-700">
  <h3>
    Created by
    <a
      href="https://kylerriggs.com"
      class="hover:text-teal-400 hover:transition-color hover:duration-300 motion-reduce:hover:transition-none"
      >Kyler Riggs</a
    >
  </h3>
</footer>
