<header>
  <nav class="navbar justify-around bg-base-300 shadow">
    <div class="">
      <div class="dropdown">
        <label
          tabindex="0"
          class="btn swap btn-ghost btn-circle swap-rotate lg:hidden"
        >
          <!-- this hidden checkbox controls the state -->
          <input type="checkbox" />

          <!-- hamburger icon -->
          <svg
            class="swap-off fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 512 512"
          >
            <path
              d="M64,384H448V341.33H64Zm0-106.67H448V234.67H64ZM64,128v42.67H448V128Z"
            />
          </svg>

          <!-- close icon -->
          <svg
            class="swap-on fill-current"
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            viewBox="0 0 512 512"
          >
            <polygon
              points="400 145.49 366.51 112 256 222.51 145.49 112 112 145.49 222.51 256 112 366.51 145.49 400 256 289.49 366.51 400 400 366.51 289.49 256 400 145.49"
            />
          </svg>
        </label>
        <ul
          tabindex="0"
          class="dropdown-content menu rounded-box menu-compact mt-3 bg-base-300 p-2 shadow"
        >
          <li tabindex="0">
            <a class="justify-between">
              Movies
              <svg
                class="fill-current"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
                />
              </svg>
            </a>
            <ul class="bg-base-300 p-2 shadow">
              <% if (user !== undefined) { %>
              <li><a href="/lists">My Lists</a></li>
              <% } %>
              <li><a href="/movies/top">Top Rated</a></li>
              <li><a href="/movies/popular">Popular</a></li>
              <li><a href="/movies/now-playing">Now Playing</a></li>
              <li><a href="/movies/upcoming">Upcoming</a></li>
            </ul>
          </li>
          <li tabindex="0">
            <a class="justify-between">
              Account
              <svg
                class="fill-current"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.59,16.58L13.17,12L8.59,7.41L10,6L16,12L10,18L8.59,16.58Z"
                />
              </svg>
            </a>
            <ul class="bg-base-300 p-2 shadow">
              <% if (user !== undefined) { %>
              <li><a href="/lists">My Lists</a></li>
              <li><a href="/logout">Log Out</a></li>
              <% } else { %>
              <li><a href="/login">Log In</a></li>
              <li><a href="/signup">Sign Up</a></li>
              <% } %>
            </ul>
          </li>
          <form action="/search" method="get" class="">
            <input
              type="search"
              required
              name="movieName"
              placeholder="Search"
              class="input input-bordered input-sm mb-1.5 w-full"
            />
            <label class="btn btn-ghost btn-sm w-full">
              <input type="submit" class="hidden" />
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-6 w-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
                />
              </svg>
            </label>
          </form>
        </ul>
      </div>
      <a class="btn btn-ghost hidden text-xl normal-case text-primary lg:flex"
        >MoviePass</a
      >
    </div>
    <div class="navbar-center hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <li tabindex="0">
          <a>
            Movies
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
            >
              <path
                d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
              />
            </svg>
          </a>
          <ul class="z-10 bg-base-300 p-2 shadow">
            <% if (user !== undefined) { %>
            <li><a href="/lists">My Lists</a></li>
            <% } %>
            <li><a href="/movies/top">Top Rated</a></li>
            <li><a href="/movies/popular">Popular</a></li>
            <li><a href="/movies/now-playing">Now Playing</a></li>
            <li><a href="/movies/upcoming">Upcoming</a></li>
          </ul>
        </li>
      </ul>
      <div class="form-control">
        <form action="/search" method="get" class="input-group">
          <input
            type="search"
            required
            name="movieName"
            placeholder="Search for Movie"
            class="input input-bordered"
          />
          <label class="btn btn-square">
            <input type="submit" class="hidden" />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="inline-block h-6 w-6"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
              />
            </svg>
          </label>
        </form>
      </div>
    </div>
    <div class="hidden lg:flex">
      <ul class="menu menu-horizontal p-0">
        <li tabindex="0">
          <a>
            Account
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
            >
              <path
                d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
              />
            </svg>
          </a>
          <ul class="bg-base-300 p-2 shadow">
            <% if (user !== undefined) { %>
            <li><a href="/lists">My Lists</a></li>
            <li><a href="/logout">Log Out</a></li>
            <% } else { %>
            <li><a href="/login">Log In</a></li>
            <li><a href="/signup">Sign Up</a></li>
            <% } %>
          </ul>
        </li>
      </ul>
    </div>
    <div class="navbar-end flex lg:hidden">
      <a class="btn btn-ghost text-xl normal-case text-primary">MoviePass</a>
    </div>
  </nav>
</header>
