<form action="/movies/search" method="get" class="mt-6 px-8">
  <label for="movieName">Search for a movie: </label>
  <input
    type="search"
    name="movieName"
    placeholder="Movie Title"
    class="py-2 px-4 text-neutral-900 rounded-2xl"
  />
  <input
    type="submit"
    value="Search"
    class="bg-neutral-700 my-4 py-2 px-4 rounded-2xl hover:bg-neutral-600 active:bg-neutral-800 hover:transition-color active:transition-color duration-300 motion-reduce:transition-none"
  />
</form>
