<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoviePass</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="bg-darkest-grey text-off-white text-center">
    <header class="py-6 px-12 bg-darker-grey">
      <nav class="flex justify-center md:justify-end items-center">
        <ul class="flex">
          <li class="mr-2">
            <a
              href="/"
              class="p-2 hover:text-teal hover:transition-color hover:duration-300 active:text-med-teal active:transition-colors active:duration-300 motion-reduce:hover:transition-none"
              >Home</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <h1 class="mt-12 text-2xl underline underline-offset-4">Changelog:</h1>
    <section
      class="flex flex-col justify-start items-start md:w-1/3 mx-auto my-12 px-6 md:px-0"
    >
      <h4 class="my-4">09/15/2022</h4>
      <ul class="text-left list-disc max-w-lg px-6 mr-auto">
        <li>Update site color scheme</li>
        <li>Restyle buttons: animations, borders, colors</li>
        <li>General style changes - still have a lot to change</li>
      </ul>

      <h4 class="my-4">09/13/2022</h4>
      <ul class="text-left list-disc max-w-lg px-6 mr-auto">
        <li>Move client-side JavaScript to server</li>
        <li>Made height of movie cards equal</li>
        <li>Added icons to add/remove movies to/from list</li>
        <li>
          Moved changelog to
          <a
            href="/changelog"
            class="underline underline-offset-3 hover:text-teal hover:transition-colors"
            >/changelog</a
          >
        </li>
      </ul>

      <h4 class="my-4">09/06/2022</h4>
      <ul class="text-left list-disc max-w-lg px-6 mr-auto">
        <li>Began styling site with TailwindCSS</li>
        <li>
          Change "Add to List" button to "Remove from List" if movie exists in
          your list
        </li>
        <li>Update site name</li>
      </ul>

      <h4 class="my-4 text-left">09/02/2022</h4>
      <ul class="text-left list-disc max-w-lg px-6 mr-auto">
        <li>
          Migrated from
          <a
            href="https://www.omdbapi.com/"
            class="underline underline-offset-3 hover:text-teal hover:transition-colors"
            >OMDb API</a
          >
          to
          <a
            href="https://www.themoviedb.org/"
            class="underline underline-offset-3 hover:text-teal hover:transition-colors"
            >TMDB API</a
          >
          for movies information database
        </li>
        <li>Return multiple movies instead of just one</li>
        <li>Add check if movie does not exist</li>
        <li>Add temporary, simple styling</li>
        <li>
          Began migration to
          <a href="https://www.themoviedb.org/">TMDB API</a>
        </li>
      </ul>
    </section>
  </body>
</html>
