<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoviePass</title>
    <link rel="stylesheet" href="../../css/style.css" />
  </head>
  <body class="bg-darkest-grey text-off-white px-8 py-12 text-center">
    <% if (error == 'Error: Cannot delete list if only one list exists') { %>
    <h2 id="one-list-error" class="mt-12 text-xl">
      Error: You cannot delete your only list. Create a new list first.
    </h2>
    <% } %>
    <h4 class="mt-12">
      <a href="javascript:history.back()" class="link-hover"
        >Click here to go back</a
      >
    </h4>
  </body>
</html>
