<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <body>
        <h1>Movie List Maker</h1>
        <p>
            (and share it with your friends... when I get around to adding the
            functionality)
        </p>

        <p>Features to add:</p>
        <ul>
            <li>Add error check to see if movie exists</li>
            <li>Update homepage and login/logout pages</li>
            <li>Style pages</li>
            <li>Add watch list</li>
            <li>Create shareable lists</li>
            <li>Change from OMDb API to another API for fetching movies</li>
        </ul>
        <a href="/login"> Login</a>
        <a href="/signup"> Signup</a>
    </body>
</html>
