<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoviePass</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body class="bg-darkest-grey text-off-white text-center">
    <header class="py-6 px-12 bg-darker-grey">
      <nav class="flex justify-center md:justify-around items-center">
        <ul class="flex">
          <li>
            <a
              href="/changelog"
              class="p-2 hover:text-teal hover:transition-color hover:duration-300 active:text-med-teal active:transition-colors active:duration-300 motion-reduce:hover:transition-none"
              >Changelog</a
            >
          </li>
        </ul>
        <ul class="flex">
          <li class="mr-2">
            <a
              href="/login"
              class="p-2 hover:text-teal hover:transition-color hover:duration-300 active:text-med-teal active:transition-colors active:duration-300 motion-reduce:hover:transition-none"
              >Log In</a
            >
          </li>
          <li>
            <a
              href="/signup"
              class="p-2 hover:text-teal hover:transition-color hover:duration-300 active:text-med-teal active:transition-colors active:duration-300 motion-reduce:hover:transition-none"
              >Sign Up</a
            >
          </li>
        </ul>
      </nav>
    </header>

    <h1 class="text-teal text-5xl tracking-tighter mt-6 md:mt-24">MoviePass</h1>
    <p class="px-6">Create movie lists and share them with your friends</p>

    <section
      class="flex flex-col justify-center items-center my-12 px-6 md:px-0"
    >
      <p class="text-lg underline">Features to add:</p>
      <ul class="text-left list-disc max-w-lg px-6">
        <li>(Ongoing) Styling site with TailwindCSS</li>
        <li>Community lists (Upvote based?)</li>
        <li>Possibly add TV Shows and Anime lists</li>
      </ul>
    </section>
  </body>
</html>
