h1 {
    color: red;
}
.completed {
    text-decoration: line-through;
    color: gray;
}
.not {
    text-decoration: underline;
}

body {
    text-align: center;
}

.results {
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.moviePoster {
    height: 250px;
}

.card {
    max-width: 166.66px;
}

.card header {
    margin: 2em 0 auto 0;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
