@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppinsregular";
  src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
    url("../fonts/poppins-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "poppinsregular", sans-serif;
}

.tooltip:before {
  @apply transition-none;
  @apply no-animation;
}

.movie-poster {
  height: 250px;
  width: 166px;
}

.card {
  max-width: 200px;
}
